<h4>Productos</h4>
<div class="list-group">
    <h3 class="list-group-item list-group-item-action bg-danger text-white" aria-current="true">
        Productos
    </h3>
    
      <a href="http://127.0.0.1:8000/admin/guardar/producto/add/" class="list-group-item list-group-item-action text-danger">Agregar Productos</a>
      <a href="http://127.0.0.1:8000/admin/guardar/producto/" class="list-group-item list-group-item-action text-primary">Ver productos</a>
      <a href="#" class="list-group-item list-group-item-action text-success">Agregar devoluciones</a>
      <a href="{% url 'generar_pdf' %}" class="list-group-item list-group-item-action text-warning">Generar PDF</a>
   
  </div>