{% extends "base.html" %}

{% load static %}

{% block content %}

{% if validlink%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center" style="background-color: #d1ecf1;">
                    <h3 class="mb-0 text-dark">Cambiar contraseña</h3>
                </div>
                <div class="card-body">
                    <form action="post">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">Nueva contraseña:</label>
                            {{ form.new_password1 }}
                        </div>
adssadadasd
                        <div class="form-group">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirme contraseña:</label>
                            {{ form.new_password2 }}
                        </div>

                        <div class="text-center mt-3">
                            <input type="submit" class="btn btn-success" value="Cambiar mi contraseña">
                            <input type="submit" class="btn btn-success" value="Cambiar mi contraseña">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%else%}
<h2>este enlace para cambio de contraseña ya ha sido utilizado...</h2>
{%endif%}
{% endblock %}
