{% extends "base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/contactos.css' %}">
<main>
    <div class="contenedor-contactos">


        <div class="columna"> 
            <div class="contacto">
                <img src="/static/img/Usuario.png" alt="Icono de contacto" class="icono">
                <div class="info">
                    <span class="nombre">Nombre: Omar Pérez</span>
                    <span class="correo">Correo: omar.perez@gmail.com</span>
                    <span class="telefono">Teléfono: +123 456 7890</span>
                </div>
    
    
            </div>
            
            <div class="contacto">
                <img src="/static/img/Usuario.png" alt="Icono de contacto" class="icono">
                <div class="info">
                    <span class="nombre">Nombre: Carlos Alvarez</span>
                    <span class="correo">Correo: carlos.alvarez@gmail.com</span>
                    <span class="telefono">Teléfono: +123 456 7890</span>
                </div>
    
    
            </div>
            
            <div class="contacto">
                <img src="/static/img/Usuario.png" alt="Icono de contacto" class="icono">
                <div class="info">
                    <span class="nombre">Nombre: Erick Sanchez</span>
                    <span class="correo">Correo: erick.sanchez@gmail.com</span>
                    <span class="telefono">Teléfono: +123 456 7890</span>
                </div>
    
    
            </div>

        </div>


        
        <div class="columna"> 
            <div class="contacto">
                <img src="/static/img/Usuario.png" alt="Icono de contacto" class="icono">
                <div class="info">
                    <span class="nombre">Nombre: Darwin Chacon</span>
                    <span class="correo">Correo: darwin.chacon@gmail.com</span>
                    <span class="telefono">Teléfono: +123 456 7890</span>
                </div>
    
    
            </div>
            
            <div class="contacto">
                <img src="/static/img/Usuario.png" alt="Icono de contacto" class="icono">
                <div class="info">
                    <span class="nombre">Nombre: Osman </span>
                    <span class="correo">Correo: osman@gmail.com</span>
                    <span class="telefono">Teléfono: +123 456 7890</span>
                </div>
    
    
            </div>
            
            <div class="contacto">
                <img src="/static/img/Usuario.png" alt="Icono de contacto" class="icono">
                <div class="info">
                    <span class="nombre">Nombre: Contacto</span>
                    <span class="correo">Correo: contacto@gmail.com</span>
                    <span class="telefono">Teléfono: +123 456 7890</span>
                </div>
    
    
            </div>

        </div>


    </div>

    </section>
</main>
{% endblock %}