{% extends "base.html" %}

{% load static %}

{% block content %}
<br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center" style="background-color: #d4edda;"> <!-- Fondo verde claro -->
                    <h3 class="mb-0 text-dark">Pago realizado con éxito</h3> <!-- Texto en negro -->
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <h4 class="text-success font-weight-bold">¡Su pedido ha sido enviado!</h4>
                        <p>Para ver el estado de su pedido, presione el botón a continuación.</p>
                    </div>

                    <div class="text-center mt-4">
                        <a href="{% url 'compras' %}" class="btn btn-success">Ir a pedidos</a> <!-- Botón verde -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock %}
